.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forms {
    width: 300px; /* Ajuste conforme necessário */
    text-align: center;
  }
  
  .text-xl {
    font-size: 24px; /* Tamanho do texto */
  }
  
  .text-sky-600 {
    color: #007ace; /* Cor do texto */
  }
  
  .text {
    font-size: 16px; /* Tamanho do texto */
    margin-bottom: 8px; /* Espaçamento entre os elementos */
  }
  
  input[type="text"],
  input[type="password"],
  button {
    width: 50%;
    margin-bottom: 16px; /* Espaçamento entre os elementos */
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007ace; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea4; /* Cor de fundo do botão ao passar o mouse */
  }
  
  .text-sm {
    font-size: 14px; /* Tamanho do texto */
  }
  


/*Nova conta*/
.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-fluid {
    text-align: center;
  }
  
  .formNovaConta {
    width: 300px; /* Ajuste conforme necessário */
    text-align: center;
  }
  
  .inputNovaConta {
    width: 100%;
    margin-bottom: 16px; /* Espaçamento entre os elementos */
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 50%;
    margin-bottom: 16px; /* Espaçamento entre os elementos */
    padding: 8px;
    box-sizing: border-box;
    background-color: #007ace; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea4; /* Cor de fundo do botão ao passar o mouse */
  }
  
  .text-sm {
    font-size: 14px; /* Tamanho do texto */
  }
  