.dark-theme {
	--bg: var(--black);
	--fontColor: var(--green);
	--btnBg: var(--white);
	--btnFontColor: var(--black);
}
.light-theme {
	--bg: var(--green);
	--fontColor: var(--black);
	--btnBg: var(--black);
	--btnFontColor: var(--white);
}