body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
h1{
    color: blue;
    font-size: 50px;
}
p{
    color: blue;
    font-size: 20px;
    text-align: center;
}
.container{
    text-align: center;
}